<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Ideas</h1>
    <p>Hashtag hoodie mumblecore selfies. Authentic keffiyeh leggings Kickstarter, narwhal jean shorts XOXO Vice Austin cardigan. Organic drinking vinegar freegan pickled.</p>
    <p><%= link_to "Sign Up To Share Your StarUp Ideas", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @ideas.each do |idea| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="images\ideas.jpg" alt="Idea View" style="width:304px;height:228px">
      </div>
    </div>
  <% end %>
</div>